body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.5s ease;
}

h1 {
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0056b3;
}
